// ::::: TYPOGRAPHY :::::
html
    font-size: 18px

h2, h3
    font-weight: 500

h2 
    font-size: 1.35rem

h3 
    font-size: 1.2rem

h5
    font-size: 0.72rem

small 
    font-size: 0.87rem

// ::::: GLOBAL :::::
.container
    width: 962px
    margin: 0 auto


// ::::: HEADER :::::
.header--main
    height: 61px

.header__back-arrow
    width: 25px
    margin-top: 21px


.header__logo
    width: 195px
    margin-top: 19px

.header__contact-anchor
    font-size: 1rem
    top: 18px


// ::::: FOOTER :::::

.why-camelot__static-item
    img 
        width: 150px
    p 
        font-size: 0.9rem


.sub-footer
    padding: 46px 0

    .associate-logos
        width: 370px

        .associate img
            height: 40px
            margin-bottom: 10px

    .camelot-copyright img
        margin: 10px 0
        width: 170px



// ::::: COMPONENTS :::::


// component: hero
.hero
    height: 513px

.hero--static .hero--wrapper,
.hero--slider .hero--slider__item
    padding-top: 61px

.hero--game
    height: 561px

.hero--slider__copy
    width: 34%
    top: 39%

    h1 br
        display: inline !important

    h3 
        font-size: 1rem


// component: section heading
.section-heading
    margin-top: 50px
    margin-bottom: 50px

    h3
        padding: 0 20px



// ::::: PAGES :::::


// page: home
#home
    
    // component: hero    
    .hero--slider__item

        &.hero--slider__item-0 > img
            margin-left: -403px
            width: 781px
            top: 100px

        &.hero--slider__item-1 > img
            top: 135px
            margin-left: -450px
            width: 900px

        &.hero--slider__item-2 > img
            top: 125px
            margin-left: -245px
            width: 490px

        .hero--slider__item-copy
            bottom: 40px

    // section: featured games
    .games--featured__game-info-wrapper

        h5
            width: 68%

        .games--featured__game-features
            width: 32%

            img
                width: 20px
                top: 11px

                &:first-child
                    right: 30px

.games--all__game-info
    padding-top: 9px


// page: game details
.hero--game-title
    width: 340px
    margin-top: 0

.hero--light-gradient
    top: 53%

.hero--title-flanks
    top: 0
    height: 254px
    margin-top: 61px

    img
        +padb
        bottom: 0
        top: auto
        margin: 0

        &:first-child
            left: 0
        &:last-child
            right: 0

.hero--wrapper__game
    max-width: none
    +box-sizing

    h1, p
        +box-sizing

    h1
        font-size: 2.4rem
        margin: 3.7rem auto 1.7rem auto
        line-height: 1.9rem

        br 
            +dn

    p
        line-height: 1.3rem
        max-width: 900px   


// info summary
.info-summary
    padding-left: 0
    padding-right: 0

.game-summary-set
    +prdib
    width: 32%
    vertical-align: top
    margin-right: 2% !important

    &:last-child
        margin-right: 0
    
    .game-summary-set--item
        padding: 1.2rem 1rem 0 0 !important
        height: 190px

    &.game-summary-set--3
        width: 32%
        margin-right: 0 !important

        .game-summary-set--item
            +prdb
            width: 100%
            
            span 
                margin: 10px 0 !important

            &:first-child
                margin-right: auto
                margin: 0 !important

            &:last-child
                margin: 0 !important
                float: none

// game preview slider
.game-preview
    width: 963px
    margin: auto
    height: auto
    overflow: hidden
    
    .preview-slider--phone
        +padb
        top: 0
        left: 0
        width: 100%

    .preview-slider--cropped-phone
        +dn


.preview-slider
    width: 577px
    height: auto
    margin: 32px 0 0 191px

.game-preview--image
    height: 325.23px
    margin-bottom: 23%

.game-preview--pagination
    bottom: 7% !important

.btn
    +unstyled-anchor
    width: 280px
    height: 56px
    line-height: 56px
    +border-radius(56px)
    font-size: 1.3rem

.cross-platform
    margin-top: 40px

.game-nav--item
    width: 200px
    height: 80px

    &::before, &::after
        top: 31px

    &.game-nav--previous
        padding: 16px 0 0 20px

        &::before
            left: 13px
        span
            margin: 2px 0 0 10px

    &.game-nav--next
        padding: 16px 20px 0 0

        &::before
            right: 13px

        span
            margin: 2px 10px 0 0

    img
        +square(48px)

    span
        width: 60px
        font-size: 0.9rem
        margin: 1px 0

// page: login
.access-form
    max-width: 400px

.access-email
    margin-bottom: 300px


.tooltip
    +highness
    +padb

    height: 100%
    right: 0
    top: 0
    width: 20px
    
    &::before
        +padb
        bottom: 27px
        width: 140px
        height: 55px
        text-align: center
        color: rgba(0,0,0,0.6)
        font-size: 0.7rem
        line-height: 41px
        +opacityz(0)
        background-image: url(../img/tooltip.png)
        background-size: 140px 55px
        background-repeat: no-repeat

        -webkit-transform: translateY(-4px)
        -moz-transform: translateY(-4px)
        -ms-transform: translateY(-4px)
        -o-transform: translateY(-4px)
        transform: translateY(-4px)
        -webkit-transition: 0.3s ease all
        -moz-transition: 0.3s ease all
        -ms-transition: 0.3s ease all
        -o-transition: 0.3s ease all
        transition: 0.3s ease all

    &.tooltip__customisable
        right: 29px

        &::before
            right: -3px
            content: "Customisable"

    &.tooltip__mini-games


        &::before
            right: -6px
            content: "Mini-games"

    &:hover::before
        -webkit-transform: translateY(0)
        -moz-transform: translateY(0)
        -ms-transform: translateY(0)
        -o-transform: translateY(0)
        transform: translateY(0)
        +opacityz(1)

.mobile .tooltip
    display: none !important


.licence-image
    margin-top: 70px