// ::::: TYPOGRAPHY :::::
h2
    font-size: 1.8rem

h3
    font-size: 1.2rem

h5
    font-size: 0.8rem


// ::::: GLOBAL :::::

.container
    width: 90%
    max-width: 1372px

// ::::: HEADER :::::
.header--main
    height: 71px

.header__back-arrow
    width: 30px
    margin-top: 24px

.header__logo
    margin-top: 24px

.header__contact-anchor
    top: 25px


// ::::: FOOTER :::::

.why-camelot
    height: auto
    padding: 60px 0

    .why-camelot__static-item
        img 
            width: 200px
        p 
            font-size: 1rem

.sub-footer
    padding: 55px 0

    .camelot-copyright img
        margin: 10px 0


// ::::: COMPONENTS :::::

// component: hero
.hero--static .hero--wrapper,
.hero--slider .hero--slider__item
    padding-top: 71px

.hero--game
    height: 711px

@media screen and (min-height: 700px)
    .hero
        height: 691px

    .hero--slider__copy
        width: 34%
        top: 39%
        left: 63%

        h1 
            font-size: 2.5rem

// component: section heading
.section-heading
    margin-top: 65px
    margin-bottom: 65px

    h3
        padding: 0 30px



// ::::: PAGES :::::

// page: home
#home
    
    // component: hero    
    .hero--slider__item

        &.hero--slider__item-0 > img
            margin-left: -600px
            width: 1112px
            top: 129px

        &.hero--slider__item-1 > img
            top: 165px
            margin-left: -665px
            width: 1333px

        &.hero--slider__item-2 > img
            top: 125px
            margin-left: -400px
            width: 801px

        .hero--slider__item-copy
            bottom: 49px

    // section: featured games
    .games--featured__game-info-wrapper
        height: 60px

        .games--featured__game-features
            height: 60px

            img
                width: 28px
                top: 17px

                &:first-child
                    right: 40px

    // all games to assume columns of 3
    .games--all__game
        width: calc(100% / 3 - 8px)
        margin: 0 0 12px 0

        &:nth-child(odd)
            margin-right: 12px

        &:nth-child(2n+2)
            margin-right: 12px

        &:nth-child(3n+3)
            margin-right: 0

        &:last-child, &:nth-last-child(2), &:nth-last-child(3)
            margin-bottom: 0


// page: game details

.hero--light-gradient
    top: 50%

.hero--game-title
    width: 370px

.hero--title-flanks
    margin-top: 71px
    height: 277px 

.hero--wrapper__game
    max-width: 1400px
    width: 95%
    +box-sizing

    h1, p
        +box-sizing

    h1
        font-size: 3rem
        margin: 4rem auto 2.2rem auto
        line-height: 1.9rem

    p
        line-height: 1.9rem
        font-size: 1.4rem
        max-width: 1250px

// info summary
.game-summary-set--item
    height: 180px !important
    font-size: 1rem

// game preview slider
.game-preview
    width: 1034px
    
.preview-slider
    width: 620px
    margin: 34px 0 0 206px

.game-preview--image
    height: 349.52px
    margin-bottom: 23%




.tooltip
    width: 28px
    
    &::before
        bottom: 40px

    &.tooltip__customisable
        right: 40px

        &::before
            right: 1px

    &.tooltip__mini-games

        &::before
            right: -3px

