// ::::: TYPOGRAPHY :::::
h1
    font-size: 1.8rem

h2
    font-size: 1.5rem
    font-weight: 500

h3
    font-size: 1.18rem

// ::::: GLOBAL :::::
.container
    width: 94%
    margin: 0 3%

// ::::: HEADER ::::: 
.header__logo
    width: 168px
    margin-top: 15px

.header__contact-anchor
    font-size: 1.13rem
    top: 14px


// ::::: FOOTER :::::
.contact-info
    padding: 0 0 47px 0
    width: 375px
    max-width: none
    
    p
        font-size: 1rem


.why-camelot
    height: auto
    padding: 35px 0

    h1
        margin: 0 0 24px 0

    .why-camelot__static
        +prdb
        margin: 0

        .why-camelot__static-item
            +prdib
            vertical-align: top
            width: 32%
            +box-sizing
            padding: 0 10px

            margin-right: 2%

            &:last-child
                margin-right: 0

            p 
                margin-bottom: 0
                max-width: none

    .why-camelot__slides-container
        +dn


.sub-footer
    padding: 38px 0

    .associate-logos
        float: right
        width: 300px
        margin: 0
        max-width: none

        .associate img
            margin-bottom: 7px

    .camelot-copyright
        float: left
        padding: 0
        border: none

        img, small
            margin: 0
            text-align: left

        img
            margin-bottom: 10px
            width: 128px


// ::::: COMPONENTS :::::

// component: hero
.hero
    height: 411px

.hero--game
    height: 461px

.hero--slider__item
    padding: 0

    .hero--slider__desktop-image
        +db

    .hero--slider__mobile-image
        display: none !important

.hero--slider__copy
    +padb
    width: 33%
    top: 34%
    left: 63%
    padding: 0
    text-align: left
    background-color: transparent

    h3 
        margin-top: 0.8rem

.game-preview--description
    bottom: 10% !important

.game-preview--pagination
    bottom: 9% !important

    // To reinstate the slide descriptor, 
    // comment out above an uncomment below:
    // +prdb
    // margin: -25px auto 50px auto

.swiper-pagination
    bottom: 8px
    
    &.hero--slider__pagination
        top: auto
        margin-top: auto

    .swiper-pagination-bullet
        +square(10px)
        margin: 0 8px !important


// component: section heading
.section-heading
    margin-top: 45px
    margin-bottom: 45px

    h3
        padding: 0 15px



// ::::: PAGES :::::

// page: home
#home
    
    // hero
    .hero--slider__item


    // section: games lists

    // featured games
    .games--featured, .games--all
        max-width: none

    .games--featured__game
        width: 24.1%
        margin: 0 1.2% 0 0

        &:nth-child(2n+2)
            margin-right: 1.2%

        &:nth-child(4)
            margin-right: 0

        .games--featured__game-info
            padding: 0 10px

    .games--featured__game-info-wrapper

        h5
            width: 44%

        .games--featured__game-features
            width: 56%

            img
                width: 18px
                top: 12px

                &:first-child
                    right: 25px

    // all games
    .games--all__game
        +prdib
        width: calc(50% - 5px)
        margin: 0 0 10px 0
        vertical-align: top

        &:nth-child(odd)
            margin-right: 10px

        &:last-child, &:nth-last-child(2)
            margin-bottom: 0

        .games--all__game-features 
            +padb
            top: 13px
            right: 0

            .game-feature
                +padb
                width: 19px
                top: 0

                &:first-child
                    left: 0

                &:last-child
                    right: 0

.games--all__game-info
    padding-top: 11px


// page: game details
.hero--game-title
    width: 290px
    // margin-top: 37px
    margin-top: 0

.hero--light-gradient
    +padb
    top: 53%
    left: 0
    height: 20%
    width: 100%
    opacity: 0.5
    background: radial-gradient(50% 50% at center, #fff, rgba(255,255,255,0))

.hero--title-flanks
    +padb
    // top: 130px
    top: 0
    left: 0
    height: 217px
    width: 100%
    padding: 0
    margin: 51px 0 0 0
    max-width: none

    img
        +padb
        height: 100%
        width: auto
        top: 0
        margin: 0

        &:first-child
            left: 0
        &:last-child
            right: 0

.hero--wrapper__game
    max-width: 850px
    margin: auto

    h1, p
        width: 100%
        text-align: center

    h1
        margin: 2rem auto 1rem auto
        line-height: 1.9rem

        

    p
        width: 100%
        padding: 0 10%
        font-size: 1rem
        line-height: 1.4rem
        max-width: 600px

// info summary

.info-summary
    padding: 2rem 1rem

.game-summary-set
    +prdib
    width: 48%
    vertical-align: top

    &:first-child
        margin-right: 4%
    
    .game-summary-set--item
        padding: 1.2rem 2rem 0 0
        height: 130px

    &.game-summary-set--3
        width: 100%

        .game-summary-set--item
            +prdib
            vertical-align: top
            width: 48%

            &:first-child
                margin-right: 4%

            &:last-child
                float: right

// game preview slider
.game-preview--image
    margin-bottom: 21%

.btn--play-demo
    // margin-top: 40px

.game-nav
    +padb
    width: 100%
    margin-top: 0
    top: 0
    left: 0


// page: login

.access-logo--main
    width: 320px
    margin-top: 4rem

.access-form
    margin-left: auto
    margin-right: auto
    max-width: 280px

.icon--global
    width: 100px
    margin: 20% auto 0 auto

.header-red
    font-size: 2rem
    margin: 0.5rem auto 0 auto

.access-form
    margin-top: 4rem

.access-email
    margin-bottom: 200px
