// ::::: TYPOGRAPHY :::::
html
    font-size: 15px

    @media screen and (min-width: 321px)
        font-size: 16px

h1
    font-size: 1.5rem
    font-weight: 300

h2, h3
    font-size: 1rem
    font-weight: 300

h4
    font-size: 0.8rem
    font-weight: 400
    text-transform: uppercase

h5
    font-size: 0.66rem
    font-weight: 400

small 
    font-size: 0.6rem


// ::::: GLOBAL :::::
.container
    +prdb
    width: 90%
    margin: 0 5%
    +box-sizing


// ::::: HEADER :::::
.header--main
    +padb
    +box-sizing
    +highness
    width: 100%
    top: 0
    left: 0
    border-bottom: 1px solid $grey
    background-color: #fff
    height: 51px

    .container a
        +unstyled-anchor
        border: 0

.header__back-arrow
    +dn
    width: 21px
    margin: 17px 10px 0 0

.header__back-arrow, .header__logo
    vertical-align: top
    border: 0

.play-page .header__back-arrow, .games-page .header__back-arrow
    +prdib

.header__logo
    +prdib
    width: 114px
    height: auto
    margin: 18px 0 0 0

.header__contact-anchor
    +padb
    +unstyled-anchor
    right: 0
    text-transform: uppercase
    font-size: 1rem
    top: 14px
    color: $camelot_red !important


// ::::: FOOTER :::::
.contact-info
    +prdb
    text-align: center
    padding: 0 0 45px 0
    width: 90%
    max-width: 270px
    margin: auto
    
    p
        font-size: 0.8rem

        // There is a strange spacing issue that
        // appears to misalign the header before
        // this p tag, even with margin-top: 0
        margin: -5px 0 0 0

    .contact-points
        +prdb
        margin-top: 45px
        

        .mail-icon
            +prdb
            margin: auto
            width: 37px

        h4
            margin-top: 0.6rem
            text-transform: uppercase

.why-camelot
    +prdb
    // height: 350px
    width: 100%
    overflow: hidden
    background-color: $camelot_light_blue
    padding: 35px 0

    h1
        +prdb
        text-align: center
        margin: 0 0 24px 0

    .why-camelot__slides-container, .why-camelot__slides-wrapper
        width: 100%
        // height: 238px

    .why-camelot__slide, .why-camelot__static-item

        img
            +prdb
            width: 113px
            margin: auto

        p 
            +prdb
            margin: 24px auto 0 auto
            text-align: center
            font-size: 0.8rem
            max-width: 280px

    .why-camelot__static
        +dn

.sub-footer
    +prdb
    background-color: $camelot_blue
    overflow: hidden

    .associate-logos
        +prdb
        width: 100%
        margin: 25px auto
        max-width: 300px

        .associate
            +prdib
            width: 33.333%
            vertical-align: top

            img, small 
                +prdb
                text-align: center
                text-transform: uppercase
                margin: auto
                +opacityz(0.5)

            small 
                font-size: 0.5rem

            img
                height: 30px
                margin-bottom: 10px

    .camelot-copyright
        padding: 25px 0
        +box-sizing
        border-top: 1px solid $dark_grey

        img, small
            +prdb
            margin: auto
            text-align: center

        img
            +opacityz(0.5)
            margin-bottom: 10px
            width: 128px


// ::::: COMPONENTS :::::

// component: hero
.hero 
    +prdb
    width: 100%
    background-color: $camelot_light_blue

    .hero--wrapper
        +opacityz(0)

        -webkit-transition: 0.7s ease -webkit-opacity
        -moz-transition: 0.7s ease -moz-opacity
        -ms-transition: 0.7s ease -ms-opacity
        -o-transition: 0.7s ease -o-opacity
        transition: 0.7s ease opacity

        &.visible
            +opacityz(1)

.hero--game
    // height: 511px

.hero--static .hero--wrapper,
.hero--slider .hero--slider__item
    padding-top: 51px

.hero--slider__item
    height: 100%
    width: 100%
    +box-sizing
    overflow: hidden

.hero--slider__desktop-image
    position: absolute 
    display: none
    top: 0
    left: 0
    +square(100%)
    background-size: cover
    background-position: center

.hero--slider__mobile-image
    +prdb
    width: 100%

.hero--slider__copy
    +prdb
    +box-sizing
    padding: 5%
    text-align: center
    background-color: $camelot_light_blue

    h1
        font-weight: 300
        margin: 0

        br 
            +dn

    h3
        text-transform: uppercase
        color: $camelot_red
        margin-bottom: 0

.swiper-pagination

    .swiper-pagination-bullet
        background-color: $dark_grey 
        +opacityz(0.25)
        margin: 0 6px !important

        &.swiper-pagination-bullet-active
            background-color: $camelot_red
            +opacityz(1)
    
    &.hero--slider__pagination
        top: 0
        margin-top: calc(57% + 51px)

    &.why-camelot__pagination
        +prdb
        margin: 15px auto 0 auto
        bottom: auto !important
        left: auto !important

        .swiper-pagination-bullet-active
            background-color: $dark_grey




// component: section heading
.section-heading
    +prdb
    width: 100%
    text-align: center
    margin-top: 43px
    margin-bottom: 43px

    h3
        +prdib
        margin: auto
        padding: 0 8px  
        text-transform: uppercase
        background-color: white

    &::before
        content: ""
        +padb
        top: calc(50% - 1px)
        height: 1px
        width: 100%
        background-color: $dark_grey








