// Colours
$camelot_blue: #e4e4ee
$camelot_light_blue: #f2f2f7
$camelot_red: #E84426

$grey: #bbbec5
$light_grey: #f5f5f6
$dark_grey: #303840
$title_grey: #989ca0

// @font-face
//   font-family: 'Albert-Bold'
//   src: url('../fonts/FSAlbertWeb-Bold.woff') format('woff')
//   font-weight: normal
//   font-style: normal

// @font-face
//   font-family: 'Albert-Regular'
//   src: url('../fonts/FSAlbertWeb-Regular.woff') format('woff')
//   font-weight: normal
//   font-style: normal

// @font-face
//   font-family: 'Icons'
//   src: url('../fonts/icomoon.ttf')
//   font-weight: normal
//   font-style: normal

@mixin title-font
  font-family: 'Open Sans', sans-serif
  font-weight: 600

@mixin body-font
  font-family: 'Open Sans', sans-serif
  font-weight: 400

// @mixin icons
//   font-family: 'Icons'

@mixin jpg-sprite
  background-image: url(../img/sprite.jpg)
  background-size: 157px 116px
  background-repeat: no-repeat

html
  color: $dark_grey
  +body-font

  *
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important
    -webkit-font-smoothing: antialiased
    outline: 0

body, html
  +box-sizing
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: #fff

h1,h2,h3,h4
  +title-font

h1,h2,h3,h4,p,small
  +no-select

ul, li
  list-style: none
  list-style-type: none
  padding: 0

.link
  +global-link($dark_grey)

.block-link
  +padb
  +cover
  z-index: 500
  border: 0

.btn
  +prdb
  +unstyled-anchor
  width: 240px
  height: 50px
  color: white !important
  line-height: 49px
  vertical-align: middle
  text-align: center
  text-transform: uppercase
  margin: auto
  +border-radius(50px)
  font-size: 1.1rem
  outline: 0
  border: 0
  cursor: pointer

  &.btn-red
    background-color: $camelot_red


input[type="submit"]
  padding: 0
  -webkit-appearance: none

.red 
  color: $camelot_red


