<div class="container">
    
    <img class="access-logo--main" src="{{relative page.dest 'img'}}/logo-camelot-global-main.png" alt="Camelot Global">

    <!-- START ACCESS COPY -->
    <section class="access-copy">
        <img class="icon--global" src="{{relative page.dest 'img'}}/icon-global.png" alt="Globe">
        <p class="header-red">Page not found</p>
        <p class="red">ERROR 404</p>
    </section>
    <!-- END ACCESS COPY -->

    <!-- START FORM -->
    <section class="access-form">
        <a href="/" class="btn btn-red">RETURN TO SITE</a>
    </section>
    <!-- END FORM -->

</div>

<footer>
    {{>sub-footer}}
</footer>
