<!-- START MAIN CONTENT -->
<div class="main game-page" id="{{game.slug}}-page">
    
    {{>hero-static-game game}}

    <!-- GAME SUMMARY START -->
    <section class="info-summary container">
        {{>game-summary game}}
    </section>
    <!-- GAME SUMMARY END -->

    <!-- GAME PREVIEW START -->
    <section class="game-preview">
        {{>game-preview-slider game}}
    </section>
    <!-- GAME PREVIEW END -->

    <!-- MISC GUBBINS START -->
    <div class="container">
    
        {{!-- If game demo is available, show CTA --}}
        {{#is game.demo-availability true}}
            <a class="btn btn--play-demo" href="/play/{{game.slug}}.php">Play demo</a>
        {{/is}}

        <img class="cross-platform" src="../img/devices.jpg" alt="Cross platform support">

        <div class="game-nav">
            <a href="/games/{{game.previous-game}}.php" class="game-nav--item game-nav--previous">
                <img src="../img/games/{{game.previous-game}}-icon.jpg">
                <span>Previous <br>game</span>
            </a><!--
            --><a href="/games/{{game.next-game}}.php" class="game-nav--item game-nav--next">
                <span>Next <br>game</span>
                <img src="../img/games/{{game.next-game}}-icon.jpg">
            </a>
        </div>

        {{#isnt game.licence-image undefined}}
            <img class="licence-image" src="../img/{{game.licence-image}}">
        {{/isnt}}
    </div>
    <!-- MISC GUBBINS END -->

</div>
<!-- END MAIN CONTENT -->