---
title: "Camelot Instant Win Games"
---
<!-- START MAIN CONTENT -->
<div class="main" id="home">
    
    {{>hero-slider home-slider}}

    <!-- FEATURED GAMES START -->
    <section class="container">
        <div class="section-heading">
            <h3>Featured games</h3>
        </div>
        <img class="icon-key" src="img/key.jpg" alt="Camelot Lottery Games are customisable and include mini-games">
        {{>featured-games}}
    </section>
    <!-- FEATURED GAMES END -->

    <!-- ALL GAMES START -->
    <section class="container">
        <div class="section-heading">
            <h3>Games</h3>
        </div>
        {{>games-list}}
    </section>
    <!-- ALL GAMES END -->
    
</div>
<!-- END MAIN CONTENT -->