---
title: "Restricted Access"
---

<div class="container">
    
    <img class="access-logo--main" src="{{relative page.dest 'img'}}/logo-camelot-global-main.png" alt="Camelot Global">

    <!-- START ACCESS COPY -->
    <section class="access-copy">
        <img class="icon--global" src="{{relative page.dest 'img'}}/icon-global.png" alt="Globe">
        <p class="header-red">Access Verification</p>
        <p>The Instant Win Game demo site is available by invitation only. Please provide your ACCESS CODE to proceed.</p>
    </section>
    <!-- END ACCESS COPY -->

    <!-- START FORM -->
    <section class="access-form">
        <form action="index.php" method="POST">
            <small class="invalid-copy">Invalid access code, please try again.</small>
            <input type="password" id="password" name="password" placeholder="<?php echo isset($_GET['error']) ? 'Invalid access code, try again' : 'Insert access code here' ?>">
            <input class="btn" type="submit" value="ENTER WEBSITE">
        </form>
    </section>
    <!-- END FORM -->

    <!-- START ACCESS EMAIL -->
    <section class="access-email">
        <p>
            Unable to access the site?<br />Request an access code from <a class="red-anchor" href="mailto:{{config.contact_email}}">{{config.contact_email}}</a>.
        </p>
    </section>
    <!-- END ACCESS EMAIL -->

</div>

<footer>
    {{>sub-footer}}
</footer>


