<script>

    var game = document.getElementsByClassName('game-iframe');

    var doFullScreen = function() {
        if (game.requestFullscreen) {
            game.requestFullscreen();
        } else if (game.webkitRequestFullscreen) {
            game.webkitRequestFullscreen();
        } else if (game.mozRequestFullScreen) {
            game.mozRequestFullScreen();
        } else if (game.msRequestFullscreen) {
            game.msRequestFullscreen();
        }
    }

    doFullScreen();

    window.addEventListener("orientationchange", function() {
        doFullScreen();
    }, false);
</script>

<!-- START DEMO CONTENT -->
<div class="play-game--content">
    <iframe class="game-iframe" allowfullscreen='true' src="<?php echo('http://' . $root . '/demos/{{game.slug}}/index.html'); ?>" frameborder="0"></iframe>
</div>
<!-- END DEMO CONTENT -->