.hero--dark-gradient
    +cover
    opacity: 0.3
    background-image: radial-gradient(at top, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%)
    z-index: 0

.hero--light-gradient
    +dn

.hero--game-title
    +prdb
    width: 80%
    margin: 0 auto 0 auto
    z-index: 10

.hero--title-flanks
    +prdb
    width: 100%
    // max-width: 290px
    height: auto
    margin: -25px auto 25px auto
    z-index: 5

    img
        +prdib
        width: 46%
        vertical-align: middle

        &:first-child
            margin-right: 8%

.hero--wrapper__game
    overflow: hidden

    h1, p
        +prdb
        text-align: center

    h1 
        margin-top: 0
        line-height: 1.9rem
        margin-bottom: 0
        
        // Show the line-break for iPhone 6+ and below
        @media screen and (min-width: 415px)
            br 
                +dn

    p 
        font-size: 0.9rem
        line-height: 1.1rem
        margin-bottom: 2rem
        margin-left: auto
        margin-right: auto


// info summary

.info-summary
    +prdb
    +box-sizing
    padding: 1rem 0.6rem

.game-summary-set
    +prdb
    width: 100%
    // overflow: hidden
    padding: 0
    
    .game-summary-set--item
        +prdb
        +box-sizing
        padding: 1.2rem 0

        small
            +prdib
            font-size: 0.8rem
            line-height: 1.2rem
            color: $title_grey

        .gssi-feature
            +prdib
            +box-sizing
            height: 27px
            line-height: 16px
            padding: 5px 10px
            font-size: 0.8rem
            border: 1px solid black
            margin-right: 5px
            +border-radius(27px)
            +opacityz(0.2)

            &::before
                +prdib
                margin-right: 7px
                vertical-align: middle
                content: ""
                width: 18px
                height: 18px
                background-size: contain
                background-repeat: no-repeat

            &.gssi-customisable::before
                top: 0px
                background-image: url(../img/icon-customisable.png)

            &.gssi-mini::before
                top: -1px
                background-image: url(../img/icon-mini-games.png)

        &.customisable .gssi-customisable,
        &.mini-games .gssi-mini
            +opacityz(1)
        
        h4
            color: $title_grey
            margin: 0 0 0.5rem 0
            line-height: 24px
            vertical-align: middle

            &::before
                +prdib
                margin-right: 10px
                vertical-align: middle
                content: ""
                width: 24px
                height: 24px
                background-size: contain
                background-repeat: no-repeat
                +opacityz(0.5)
                top: -3px

            &.gssi-title::before
                background-image: url(../img/icon-title.jpg)

            &.gssi-price::before
                background-image: url(../img/icon-price.jpg)

            &.gssi-theme::before
                background-image: url(../img/icon-theme.jpg)

            &.gssi-role::before
                background-image: url(../img/icon-role.jpg)

            &.gssi-audience::before
                background-image: url(../img/icon-target-audience.jpg)

            &.gssi-duration::before
                background-image: url(../img/icon-duration.jpg)

            &.gssi-style::before
                background-image: url(../img/icon-play-style.jpg)

.price-range
    +prdb
    width: 120px
    overflow: hidden
    margin-top: 15px
    font-weight: 400
    font-size: 1.4rem
    height: 1.5rem
    line-height: 1.5rem
    overflow: visible

    em
        font-style: normal
        +opacityz(0.3)
    
    &.price-range--1 em:nth-child(1)
        +opacityz(1)
    &.price-range--2 em:nth-child(-n+2)
        +opacityz(1)
    &.price-range--3 em:nth-child(-n+3)
        +opacityz(1)
    &.price-range--4 em:nth-child(-n+4)
        +opacityz(1)
    &.price-range--5 em:nth-child(-n+5)
        +opacityz(1)

// game preview slider
.game-preview
    +prdb
    width: 100%
    height: auto
    overflow: hidden

    .preview-slider--phone, .preview-slider--cropped-phone
        +highness
        +no-pointer-events
    
    .preview-slider--phone
        +dn

    .preview-slider--cropped-phone
        +padb
        top: 0
        left: 0
        width: 100%
    
.preview-slider
    +prdb
    width: 100%
    height: auto
    width: 90.5%
    height: 80%
    margin: 4.6% 4.75% 0 4.75%

    .swiper-wrapper
        z-index: 0

.game-preview--description
    +padb
    width: 100%
    text-align: center
    margin: 0
    bottom: 8% !important

.game-preview--image
    +prdb
    +box-sizing
    width: 100%
    margin-bottom: 20%
    border-right: 1px solid $dark_grey
    +opacityz(0)

.game-preview--pagination

    bottom: 8% !important

    // To reinstate the slide descriptor, 
    // comment out above an uncomment below:
    // +prdb
    // margin: -10px auto 25px auto
    

.btn--play-demo
    +highness
    // margin-top: 25px
    background-color: $camelot_red

    &:hover
        +opacityz(0.9)

.cross-platform
    +prdb
    margin: 20px auto 0 auto
    width: 201px
    +opacityz(0.5)

.game-nav
    margin-top: 20px

.game-nav--item
    +prdib
    +box-sizing
    +unstyled-anchor
    width: 140px
    height: 60px
    background-color: $light_grey
    +border-radius(4px)
    vertical-align: top
    -webkit-transition: 0.3s ease background-color
    -moz-transition: 0.3s ease background-color
    -ms-transition: 0.3s ease background-color
    -o-transition: 0.3s ease background-color
    transition: 0.3s ease background-color

    &:hover
        background-color: darken($light_grey, 5%)

    &::before, &::after
        +padb
        content: ""
        width: 10px
        height: 20px
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        top: 20px

    &.game-nav--previous
        padding: 14px 0 0 14px

        img 
            margin: 0 0 0 15px
        span
            margin: 1px 0 0 5px
    &.game-nav--next
        padding: 14px 14px 0 0
        text-align: right
        float: right

        img 
            margin: 0 15px 0 0
        span
            margin: 1px 5px 0 0

    &.game-nav--previous::before
        background-image: url(../img/arrow-left.png)
        left: 10px
    &.game-nav--next::after
        background-image: url(../img/arrow-right.png)
        right: 10px

    img, span 
        +prdib
        vertical-align: top

    img
        +prdib
        +square(32px)
        +border-radius(8px)
        vertical-align: top
        border: 0

    span
        color: $camelot_red
        width: 60px
        font-size: 0.7rem
        margin: 1px 0
        text-transform: uppercase

.licence-image
    +prdb
    clear: both
    margin: 43px 0 0 0
    max-width: 100%