#home
    
    // section: games lists

    // featured games
    .games--featured, .games--all
        font-size: 0
        width: 100%
        max-width: 500px
        margin: auto

    .games--featured__game
        +prdib
        +box-sizing
        width: calc(50% - 5px)
        margin: 0 10px 10px 0
        padding: 0
        overflow: hidden
        +border-radius(8px)
        background-color: darken($light_grey, 3%)

        &:nth-child(n+5)
            display: none !important

        &:nth-child(2n+2)
            margin-right: 0

        &:nth-child(3),
        &:nth-child(4)
            margin-bottom: 0

        .game-item__image
            +prdb
            width: 100%
            border: 0

            -webkit-border-top-right-radius: 8px
            -moz-border-top-right-radius: 8px
            -ms-border-top-right-radius: 8px
            -o-border-top-right-radius: 8px
            border-top-right-radius: 8px
            -webkit-border-top-left-radius: 8px
            -moz-border-top-left-radius: 8px
            -ms-border-top-left-radius: 8px
            -o-border-top-left-radius: 8px
            border-top-left-radius: 8px

            -webkit-transform: translateZ(0)
            -moz-transform: translateZ(0)
            -ms-transform: translateZ(0)
            -o-transform: translateZ(0)
            transform: translateZ(0)

        .games--featured__game-info
            +prdt
            +box-sizing
            height: 40px
            width: 100%
            background-color: $light_grey
            padding: 0 8px

            -webkit-border-bottom-right-radius: 8px
            -moz-border-bottom-right-radius: 8px
            -ms-border-bottom-right-radius: 8px
            -o-border-bottom-right-radius: 8px
            border-bottom-right-radius: 8px
            -webkit-border-bottom-left-radius: 8px
            -moz-border-bottom-left-radius: 8px
            -ms-border-bottom-left-radius: 8px
            -o-border-bottom-left-radius: 8px
            border-bottom-left-radius: 8px

    .games--featured__game-info-wrapper
        +prdtc
        vertical-align: middle

        h5, .games--featured__game-features
            +prdib
            vertical-align: middle

        h5
            margin: 0
            text-transform: uppercase
            color: $dark_grey
            +opacityz(0.5)
            width: 56%
            line-height: 0.82rem

    .games--featured__game-features
        width: 44%

        // Have to define height explicitly
        // as Firefox doesn't seem to
        // understand height: 100%
        height: 40px



        .game-feature
            +padb
            width: 14px
            top: 14px
            right: 0

            &:first-child
                right: 21px

    // all games
    .games--all__game
        +prdb
        +box-sizing
        width: 100%
        margin: 0 0 10px 0
        padding: 10px
        overflow: hidden
        +border-radius(4px)
        background-color: $light_grey
        height: 92px
        -webkit-transition: 0.3s ease background-color
        -moz-transition: 0.3s ease background-color
        -ms-transition: 0.3s ease background-color
        -o-transition: 0.3s ease background-color
        transition: 0.3s ease background-color

        
        &:hover 
            background-color: darken($light_grey, 5%)

        &:last-child
            margin: 0

        .game-item__image, .games--all__game-info
            +prdib
            vertical-align: top

        .game-item__image
            height: 100%
            +border-radius(8px)

    .games--all__game-info
        +box-sizing
        height: 100%
        width: calc(100% - 97px)
        margin-left: 22px
        

        p, h4
            +prdb
            white-space: nowrap

        p 
            font-size: 1rem
            margin: 0.2rem 0

        h4
            margin: 0
            text-transform: uppercase
            color: $dark_grey
            +opacityz(0.5)

        .games--all__game-features 
            +prdb
            width: 47px
            height: 18px
            margin-top: 0.2rem

            .game-feature
                +padb
                width: 19px
                top: 0

                &:first-child
                    left: 0

                &:last-child
                    right: 0

    .game-feature 
        +opacityz(0.25)

    .games--featured__game.customisable img.game-feature--customisable,
    .games--featured__game.mini-games img.game-feature--mini-games,
    .games--all__game.customisable img.game-feature--customisable,
    .games--all__game.mini-games img.game-feature--mini-games
        +opacityz(1 !important)

.tooltip
    +dn

.mobile .icon-key
    +prdb
    width: 212px
    margin: 0 auto 15px auto

.desktop .icon-key
    +dn

.games--featured__game .game-item__image
    +opacityz(0)

.game-preview--image.lazyloaded,
.games--featured__game .game-item__image.lazyloaded
    -webkit-transition: 0.4s ease -webkit-opacity !important
    -moz-transition: 0.4s ease -moz-opacity !important
    -ms-transition: 0.4s ease -ms-opacity !important
    -o-transition: 0.4s ease -o-opacity !important
    transition: 0.4s ease opacity !important

    -webkit-opacity: 1
    -moz-opacity: 1
    -ms-opacity: 1
    -o-opacity: 1
    opacity: 1

.games--featured__game .game-item__image:hover
    +opacityz(0.7)