.authenticate
    padding: 0
    margin: 0
    background-color: #F2F2F7
    height: 100%
    margin: 0
    padding: 0
    min-height: 100%
    box-sizing: border-box
    -moz-box-sizing: border-box
    position: relative

    *
        +box-sizing

    .content-wrapper
        min-height: 100%
        position: relative

    .container
        overflow: hidden

    body
        position: relative
        background-color: transparent
        text-align: center
        margin: 0
        padding: 0
        height: 100%

        small.invalid-copy 
            +dn
            color: $camelot_red
            margin-bottom: 0.5rem

        &.invalid
            input[type="password"]
                border: 2px solid $camelot_red

            small.invalid-copy
                +db

        footer 
            +padb
            bottom: 0
            left: 0
            width: 100%
    
.access-copy,
.access-email
    margin-left: auto
    margin-right: auto
    max-width: 500px

.access-logo--main
    +prdb
    width: 196px
    margin: 2rem auto 0 auto

.access-copy
    +prdb
    width: 100%
    text-align: center
    overflow: hidden

.icon--global
    +prdb
    width: 64px
    margin: 20% auto 0 auto

.header-red
    font-weight: 300 !important
    font-size: 1.8rem
    margin: 0.5rem auto 0 auto

p.header-red, a.red-anchor
    color: $camelot_red

.access-form
    +prdb
    width: 100%
    margin-top: 2rem

    input
        width: 100%
        outline: 0
        border: 0

        &[type="password"]
            height: 50px
            font-size: 1rem
            padding-left: 10px
            +border-radius(8px)

        &[type="submit"]
            margin-top: 1rem
            background-color: #2C317C

.access-email
    +prdb
    margin: 2rem auto 250px auto
