.play-game--content
    +prdb
    margin: 0
    padding: 0
    overflow: hidden
    background-image: url(../img/demo-underlay.png)
    background-size: cover
    background-position: center

.game-iframe
    width: 100%
    height: 100%

html.mobile

    .play-page
        header, footer
            +dn

    .play-game--content
        width: 100%
        height: 100%
        border-bottom: 50px solid white

html.desktop

    .play-game--content
        border: 1px solid $light_grey
        width: 702px
        height: 417px
        margin: 150px auto 0 auto