<!-- CONTACT INFO START -->
<section class="contact-info">
    <p>We'd be delighted to discuss your Instant Win Game aspirations and explore where we can help. Please drop us an email and we'll be in touch.</p>
    
    <div class="contact-points contact-points--mail">
        <a class="block-link" href="mailto:{{config.contact_email}}"></a>
        <img class="mail-icon" src="{{relative page.dest 'img'}}/icon-mail.svg" alt="Email Camelot">
        <h4 class="red">Send email</h4>
    </div>

    {{!-- Phone number removed as per David Moggs: 08-07-16 --}}
    {{!-- <div class="contact-points contact-points--phone">
        <a class="block-link" href="tel:{{config.contact_number}}"></a>
        <img src="{{relative page.dest 'img'}}/icon-phone.jpg" alt="Call Camelot">
        <h4>Call now</h4>
    </div> --}}

</section>
<!-- CONTACT INFO END -->