<ul class="games--featured">
    {{~#each games ~}}
    {{~#is featured true ~}}
    <li class="games--featured__game game-item customisable{{#is this.mini-games true}} mini-games{{/is}}">
        <a href="/games/{{this.slug}}.php">
            <img class="game-item__image lazyload" data-src="img/games/{{this.images.tile}}" alt="{{this.name}}">
        </a>
        <div class="games--featured__game-info game-item__info">
            <div class="games--featured__game-info-wrapper game-item__info-wrapper">
                <h5 class="games--featured__game-category game-item__category">{{{this.theme}}}</h5>
                <div class="games--featured__game-features game-item__features">
                    <img class="game-feature game-feature--customisable" src="img/icon-customisable.png" alt="Customisable">
                    <img class="game-feature game-feature--mini-games" src="img/icon-mini-games.png" alt="Mini-games">
                    <div class="tooltip tooltip__customisable"></div>
                    <div class="tooltip tooltip__mini-games"></div>
                </div>
            </div>
        </div>
    </li>
    {{~/is~}}
    {{~/each~}}
</ul>