{{!-- Need this "learn-more" div to anchor the CONTACT link --}}
<div id="learn-more"></div>

<!-- START GLOBAL FOOTER -->
<footer>
    <div class="container">
        <div class="section-heading">
            <h3>Like to know more?</h3>
        </div>
    </div>

    {{>contact-points}}

    {{>why-camelot}}

    {{>sub-footer}}

</footer>
<!-- END GLOBAL FOOTER -->