<div class="game-summary-set game-summary-set--1">
    
    <div class="game-summary-set--item">
        <h4 class="gssi-title">Game title</h4>
        {{{this.name}}}
    </div>

    <div class="game-summary-set--item">
        <h4 class="gssi-price">Market price range</h4>
        <div class="price-range price-range--{{this.price-range}}">
            <em>&euro;</em>
            <em>&euro;</em>
            <em>&euro;</em>
            <em>&euro;</em>
            <em>&euro;</em>
        </div>
    </div>

    <div class="game-summary-set--item">
        <h4 class="gssi-theme">Theme</h4>
        {{{this.theme}}}
    </div>

</div><!--

--><div class="game-summary-set game-summary-set--2">
    
    <div class="game-summary-set--item">
        <h4 class="gssi-role">Role</h4>
        {{{this.role}}}
    </div>

    <div class="game-summary-set--item">
        <h4 class="gssi-audience">Target audience</h4>
        {{{this.target-audience}}}
    </div>

    <div class="game-summary-set--item">
        <h4 class="gssi-duration">Game duration</h4>
        {{this.duration}}
    </div>

</div><!--

--><div class="game-summary-set game-summary-set--3">
    
    <div class="game-summary-set--item">
        <h4 class="gssi-style">Play style</h4>
        {{{this.play-style}}}
    </div><!--
    
    -->{{#isnt this.small-print ""}}<div class="game-summary-set--item">
        <small class="gssi-small">{{{this.small-print}}}</small>
    </div>{{/isnt}}<!--

    --><div class="game-summary-set--item customisable{{#is this.mini-games true }} mini-games{{/is}}">
        <span class="gssi-feature gssi-customisable">Customisable</span>
        <span class="gssi-feature gssi-mini">Mini-games</span>
    </div>

</div>