<ul class="games--all">
    {{#each games ~}}
    <li class="games--all__game game-item customisable{{#is this.mini-games true}} mini-games{{/is}}">
        <a class="block-link" href="/games/{{this.slug}}.php"></a>
        <img class="game-item__image" src="img/games/{{this.images.icon}}" alt="{{this.name}}">
        <div class="games--all__game-info game-item__info">
            <p>{{{this.name}}}</p>
            <h4 class="games--all__game-theme game-item__theme">{{{this.theme}}}</h4>
            <div class="games--all__game-features game-item__features">
                <img class="game-feature game-feature--customisable" src="img/icon-customisable.png" alt="Customisable">
                <img class="game-feature game-feature--mini-games" src="img/icon-mini-games.png" alt="Mini-games">
            </div>  
        </div>
    </li>
    {{~/each}}
</ul>