<!-- Device overlays -->
<img class="preview-slider--cropped-phone" src="../img/iphone5-frame-cropped.png" alt="iPhone5 frame cropped">
<img class="preview-slider--phone" src="../img/iphone5-frame.png" alt="iPhone5 frame cropped">

<!-- Slider -->
<div class="preview-slider swiper-container" id="slider--game-preview">
    <div class="swiper-wrapper">
        {{#eachProperty this.images.previews ~}}
            <div class="swiper-slide">
                <img class="game-preview--image lazyload" data-src="../img/games/{{last value}}">
                {{!--

                Slide descriptor copy removed as per David Moggs 18.07.16

                !!NOTE!! 
                If you want to reinstate this copy you will need to amend 
                the css files at each breakpoint to adjust the position of 
                the game-preview--pagination elements.

                --}}
                {{!-- <p class="game-preview--description">{{first value}}</p> --}}
            </div>
        {{~/eachProperty}}
    </div>
    <div class="game-preview--pagination swiper-pagination"></div>    
</div>
