<!-- START GLOBAL HEADER -->
<header class="header--main">
    <div class="container">
        {{!-- This link must have 'back' behaviour --}}
        <a href="<?php echo $_SERVER['HTTP_REFERER']; ?>">
            <img src="{{relative page.dest 'img'}}/icon-back-arrow.jpg" class="header__back-arrow">
        </a>
        <a href="/">
            <img src="{{relative page.dest 'img'}}/logo-camelot-global-main.jpg" class="header__logo" alt="Camelot | Global">
        </a>
        <a href="#learn-more" class="link header__contact-anchor" id="header__contact-anchor">Contact us</a>
    </div>
</header>
<!-- END GLOBAL HEADER -->