<!-- START STATIC GAME HERO -->
<section class="hero hero--static hero--game" style="background-color: {{this.background-colour}};">

    <div class="hero--dark-gradient"></div>

    <div class="hero--wrapper hero--wrapper__game container">

        <div class="hero--light-gradient"></div>
        
        <img class="hero--game-title" src="../img/games/{{this.images.title}}" alt="{{this.name}}">

        <div class="hero--title-flanks">
            <img class="hero--left" src="../img/games/{{this.images.hero-left}}" alt="{{this.name}}"><!--
            --><img class="hero--right" src="../img/games/{{this.images.hero-right}}" alt="{{this.name}}">
        </div>
            
        <h1>{{{this.heading}}}</h1>
        <p>{{{this.copy}}}</p>

    </div>

</section>
<!-- END STATIC GAME HERO -->