<!-- START HERO SLIDER -->
<section class="hero hero--slider swiper-container">
    <div class="swiper-wrapper hero--wrapper">
        {{#eachProperty this ~}}
            <div class="swiper-slide hero--slider__item hero--slider__item-{{key}}">
                <div class="hero--slider__desktop-image" style="background-image: url(img/{{value.desktop_image_filename}});"></div>
                <img class="hero--slider__mobile-image" src="img/{{value.mobile_image_filename}}" alt="{{value.header}}">
                <div class="hero--slider__copy">
                    <h1>{{{value.header}}}</h1>
                    <h3>{{{value.sub_header}}}</h3>
                </div>
            </div>
        {{~/eachProperty}}
    </div><!--
    --><ul class="swiper-pagination hero--slider__pagination"></ul><!--
--></section>
<!-- END HERO SLIDER -->