<!-- SUB-FOOTER START -->
<section class="sub-footer">
    
    <div class="container">

        <div class="associate-logos">
            <div class="associate">
                <img src="{{relative page.dest 'img'}}/logo-naspl.png" alt="NASPL">
                <small>Associate member</small>
            </div><!--
            --><div class="associate">
                <img src="{{relative page.dest 'img'}}/logo-euro-lott.png" alt="The European Lotteries">
                <small>Associate member</small>
            </div><!--
            --><div class="associate">
                <img src="{{relative page.dest 'img'}}/logo-wla.png" alt="World Lotteries Association">
                <small>Associate member</small>
            </div>
        </div>

        <div class="camelot-copyright">
            <img src="{{relative page.dest 'img'}}/logo-camelot-global-mono.png" alt="Camelot Global">
            <small>&copy; 2016 Camelot Global. All rights reserved.</small>
        </div>
        
    </div>

</section>
<!-- SUB-FOOTER END -->