<!-- WHY CAMELOT START -->
<section class="why-camelot">

    <div class="container">

        <h1>Why Camelot Global?</h1>
    
        <!-- Slideshow for mobile -->
        <div class="why-camelot__slides-container swiper-container">
            <div class="why-camelot__slides-wrapper swiper-wrapper">
                {{#each why-camelot ~}}
                <div class="swiper-slide why-camelot__slide">
                    <img src="{{relative ../page.dest 'img'}}/{{this.image_filename}}" alt="{{this.copy}}">
                    <p>{{{this.copy}}}</p>
                </div>
                {{~/each}}
            </div>
            <ul class="swiper-pagination why-camelot__pagination"></ul>
        </div>

        <!-- Static for iPad & Desktop -->
        <ul class="why-camelot__static">
            {{#each why-camelot ~}}
            <li class="why-camelot__static-item">
                <img src="{{relative ../page.dest 'img'}}/{{this.image_filename}}" alt="{{this.copy}}">
                <p>{{{this.copy}}}</p>
            </li>
            {{~/each}}
        </ul>

    </div>

</section>
<!-- WHY CAMELOT END -->