<!doctype html>
<html class="authenticate">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Page not found - Error 404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        {{>body}}

    </body>
</html>
