<?php

    /*
    *
    * ACCESS RESTRICTION
    *
    */
    
    $server_name    = $_SERVER['SERVER_NAME'];    
    $root           = $server_name === 'localhost' ? $server_name . ':' . $_SERVER['SERVER_PORT'] : $server_name;
    
    session_start();

    # Check for session timeout, else initiliaze time
    if (isset($_SESSION['timeout'])) {
        # Check Session Time for expiry of 20 minutes
        $expire_time = $_SESSION['timeout'] + (20 * 60);
        if( $expire_time < time() ){
            session_destroy();
        }
    } else {
        # Initialize variables
        $_SESSION['password']   ="";
        $_SESSION['timeout']    =time();
    }
    
    # Check for password in POST and compare with site password
    # If invalid, redirect to login page with error param
    if (isset($_POST["password"]) && $_POST['password'] !== "{{config.site_password}}") {  
        header('Location: http://' . $root . '/login.php?error=invalid_password');
        exit;
    }

    # Store POST data in session variables (this will only run on the index.php page)
    if( isset($_POST["password"]) ) {  
        $_SESSION['password'] = $_POST['password'];
        header('Location: http://' . $root . '/index.php');
    }

    if($_SESSION['password'] !== "{{config.site_password}}"){
        header('Location: http://' . $root . '/login.php');
        exit;
    }

    /*
    *
    * MOBILE DEVICE DETECTION
    *
    */
    
    # Using Mobile Detect to check for mobile device
    require_once $_SERVER['DOCUMENT_ROOT'] . '/Mobile_Detect.php';
    $detect = new Mobile_Detect;

    
    /*
    *
    * BODY CLASSES
    *
    */

    $body_classes = '';
    $current_game = '';

    if (strpos($_SERVER['REQUEST_URI'], '/play/') !== false){
        $body_classes = 'play-page';
        $pos = strrpos($_SERVER['REQUEST_URI'], '/');
        $current_game = $pos === false ? $_SERVER['REQUEST_URI'] : substr($_SERVER['REQUEST_URI'], $pos + 1);
    } else if (strpos($_SERVER['REQUEST_URI'], '/games/') !== false) {
        $body_classes = 'games-page';
    }
    
?>

<!doctype html>
<html class="<?php echo $detect->isMobile() ? 'mobile' : 'desktop'; ?>">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{{title}}}</title> 
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{relative page.dest 'css'}}/styles.css">
    </head>
    <body class="<?php echo $body_classes; ?>">
    
        {{>header}}    

        {{>body}}
        
        {{>footer}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/2.0.0/lazysizes.min.js"></script>
        <script src="{{relative page.dest 'js'}}/script.js"></script>

        <!-- START GOOGLE ANALYTICS -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create','{{config.ga_tracking_id}}','auto');ga('send','pageview');
        </script>
        <!-- END GOOGLE ANALYTICS -->
    </body>
</html>
